# Rust
target/
**/*.rs.bk
Cargo.lock

# Editor and IDE artifacts
.vscode/
.idea/
*.swp
*~
.vim/

# Linux Kernel Module development
*.o
*.ko
*.mod.*
*.cmd
.tmp_versions/
modules.order
Module.symvers
*.symvers
*.order
.DS_Store
tests/

# Build artifacts
/build
/debug

# Dependency directories
**/vendor/

# Logs
logs
*.log

# Nix
shell.nix
/result*
/nix-shell
.envrc
.cache/
compile_commands.json
